# User-specific
/workspace.xml
/tasks.xml
/usage.statistics.xml
/dictionaries/
/shelf/

# Sensitive or local
/dataSources/
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml

# Editor-based HTTP Client
/httpRequests/

# AWS
/aws.xml